<% @mikomis.each do |mikomi| %>
  <p><%= mikomi.shohin %><%= mikomi.kansan %></p>
  <% if current_user.id == mikomi.user.id %>
    <%= link_to "編集", edit_mikomi_path(mikomi) %>
    <%= link_to "削除", mikomi_path(mikomi), method: :delete, data: { confirm: "次がんばりましょう" } %>
  <% end %>
<% end %>