<div class="jumbotron">
  <h1 class="text-center">支社見込み管理アプリ</h1>

  <p class="my-5">
    自分の今月の見込みを登録していく。
    確実性のないものでも登録してください。
  </p>

  <%= link_to "ログイン", new_user_session_path,class: "btn btn-warning btn-block my-3"  %>
  <%= link_to "新規登録", new_user_registration_path,class: "btn btn-primary btn-block my-3"  %>

</div>