<% if @mikomi.errors.any? %>
  <div class="alert alert-danger" role="alert" >
  <a href="#" class="close" data-dismiss="alert">×</a>
    <ul>
      <% @mikomi.errors.full_messages.each do |msg| %>
        <li><span style="color: red;"><%= msg %></span></li>
      <% end %>
    </ul>
  </div>
<% end %>
